ion-fab {
    margin-bottom: 55px;
}

::ng-deep {
    .select-interface-option {
        z-index: 20000 !important;
    }

    ion-select-popover {
        z-index: 20000 !important;
    }

    .select-popover {
        z-index: 20000 !important;
    }
}

// Increase z-index for select overlay in built app
::ng-deep .select-interface-overlay {
    z-index: 100000 !important;
}

// Alternative if the above doesn't work
::ng-deep ion-select-popover {
    z-index: 100000 !important;
}

// You might also need to target the backdrop
::ng-deep ion-popover {
    --backdrop-opacity: 0 !important;
    z-index: 100000 !important;
}