<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item lines="full">
      <ion-icon name="moon"></ion-icon>
      <ion-toggle justify="space-between" (ionChange)="toggleDarkmode($event)" [checked]="darkmode">Dark
        Mode</ion-toggle>
    </ion-item>
    <app-reminder-settings></app-reminder-settings>
    <ion-item lines="full">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>Version 0.1.0</ion-label>
    </ion-item>
  </ion-list>
</ion-content>