<ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>

<ion-list>
  <ion-list-header>
    <div class="header">
      <div>Your entries</div>
      <div>
        <ion-select label="Filter"></ion-select>
      </div>
    </div>
  </ion-list-header>
  <ion-item-sliding *ngFor="let entry of entries">
    <app-entry-card [entry]="entry" [brand]="getBrandById(entry.brand_id)" (entryDeleted)="refreshEntries()"></app-entry-card>
  </ion-item-sliding>
</ion-list>